<a href="javascript:(
	
	function()
	{
    	location.href='http://floating-journey-405.heroku.com/url?url='+ encodeURIComponent(window.location.href);
	}
  )()"
    class="bookmarklet"
    title="Read Now">Read Now</a>