<link rel="stylesheet" href="column.css" type="text/css">
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="javascript.js"></script>
<span id="prev" onclick="prev();"><<</span><span id="succ" onclick="succ();">>></span>
<div id="article" style="right:0;left:0;">
<%= @cont %>
</div>