<link rel="stylesheet" href="column.css" type="text/css">
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="javascript.js"></script>
<div id="prev" onclick="prev();"><</div><div id="succ" onclick="succ();">></div>
<div id="article" style="right:0;left:0;">
<%= @cont %>
</div>