body{
	overflow: hidden;

	top: 0;
	left: 0;
}
#article {
	position:absolute;
	width:800px;
	margin:auto;
	-moz-column-gap: 500px;
	-webkit-column-gap: 500px;
	column-gap: 800px;
	-webkit-column-width: 800px;
	column-width: 800px;
	height:95%;
	-webkit-text-size-adjust:auto

}
#succ, #prev{
	position:absolute;
	-webkit-tap-highlight-color: red;
	padding:300px 20px;
	font-size:30px;
	border:1px #BCBCBC solid;
	color:#BCBCBC;
	cursor:pointer;
}
#succ{
	right:0;
}
#prev{
	left:0;
}

@media screen and (device-width: 768px) { 
	div{
		font-size:30px;
	}
	
}

@media screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
	div{
		font-size:40px;
	}
}